.idea
cmake-build-debug
cmake-build-release
cmake-build-debug-openblas
build
*/images/*
images
*.caffemodel
thirdparty/caffe
/thirdparty/caffe/
.ipynb_checkpoints
*.png
*.ipynb
!*.exp.ipynb
*.csv
# analysis
*/__pycache__/*
*.pyc
**/altered_face_full_conv.prototxt
*.todo
cmake/toolchain-rpi.cmake
*.tar.gz
*.deb
networks/GeneratedNet_1
.Doxyfile
*.tmp.cpp
venv
*.log
networks_export
archive
*.tar
*.tmp.txt
*.tmp.yaml
networks_export
networks_descr.tar.xz
*tar.xz
archive
*.tmp.yaml
*.log
*.tar
*.stat.csv
*.tmp.txt
tmp_data
analysis/*.pdf
/analysis/notebooks/output/batch10/*.pdf